@model IEnumerable<Food.Entity.ContactUsers>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="col-5">@Html.DisplayFor(modelItem => item.cu_FirstName)</td>
                            <td class="col-5">@Html.DisplayFor(modelItem => item.cu_Email)</td>
                            <td class="col-5">@Html.DisplayFor(modelItem => item.cu_Subject)</td>
                            <td class="col-5">@Html.DisplayFor(modelItem => item.cu_Description)</td>
                        </tr>}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>