@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section>
    <div>
        <center>
            <div>
                <h3> Payment complete</h3>
            </div>
            <div>
                <img src="~/images/PaymentComplete/PaymentComplete.png" alt="Complete"/>
            </div>
        </center>
    </div>
    
</section>