@model Food.Entity.Coupons

@{ ViewData["Title"] = "Create";
                Layout = "~/Views/Shared/_LayoutAdmin/_LayoutAdmin.cshtml"; }


<div class="card-header">
    <h3 class="card-title">Create</h3>
</div>
<div class="card-body">
    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="couponId" class="control-label"></label>
                    <input asp-for="couponId" class="form-control" />
                    <span asp-validation-for="couponId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="couponCode" class="control-label"></label>
                    <input asp-for="couponCode" class="form-control" />
                    <span asp-validation-for="couponCode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="couponPrice" class="control-label"></label>
                    <input asp-for="couponPrice" class="form-control" />
                    <span asp-validation-for="couponPrice" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-primary">Back to list</a>
        </div>
    </form>
</div>
